

div{
    display: inline-block;
    justify-content: center;
    border: 1px solid #0f0f0f;
    width:200px;
    height:200px;
    margin: -2px;
}

#canto{
    border: 2px solid #0f0f0f;
}

.hov:hover{
    background-color:orange;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarelo{
    background-color: yellow;
}

.azul{
    background-color: blue;
}