/* Reset de estilos para garantir uma base consistente */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para o título do cabeçalho */
header h1 {
    font-size: 24px;
}

/* Estilos para as seções */
section {
    padding: 20px;
    margin-bottom: 30px;
}

/* Estilos para os títulos das seções */
section h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

/* Estilos para o texto das seções */
section p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}

/* Estilos para a imagem  */
img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

/* Estilos para o vídeo */
video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para o texto do rodapé */
footer p {
    font-size: 14px;
}
